
.btn {
	padding: 10px 20px;
	outline: none;
	border: none;
	color: #212042;
	font-weight: 700;
	font-style: normal;
	border-radius: 5px;
	font-weight: 500;
	background: rgb(39, 2, 113);
	background: linear-gradient(266.52deg, #29FFA5 0%, rgba(244, 71, 133, 0.33) 100.33%);

}